{% extends "main/base.html" %} 
{% load static %} 
{% block content %} 
{% if user.is_authenticated %}
  <div class="Healthy">
    <a href="{% url 'exercise' %}">
      <div class="Exercise">
        <div
          class="slide-exercise"
          style="
            background-image: url('https://i.pinimg.com/564x/a6/fd/10/a6fd10646a09a8a78b108adaf49de5f1.jpg');
          "
        >
          <div class="text-image">
            <h1>Exercise</h1>
            <p>
              Exercise helps you burn calories and maintain a healthy weight,
              reducing the risk of obesity.
            </p>
          </div>
        </div>
        <div
          class="slide-exercise"
          style="
            background-image: url('https://i.pinimg.com/564x/d9/34/ce/d934ceed59312e0de77890a60316c518.jpg');
          "
        >
          <div class="text-image">
            <h1>Exercise</h1>
            <p>
              Exercise releases endorphins, which can help alleviate stress and
              improve your mood.
            </p>
          </div>
        </div>
        <div
          class="slide-exercise"
          style="
            background-image: url('https://i.pinimg.com/564x/8b/5b/09/8b5b096421b550d97dfc80dc722ee8e8.jpg');
          "
        >
          <div class="text-image">
            <h1>Exercise</h1>
            <p>
              Activities like yoga and stretching can improve flexibility and
              balance, reducing the risk of injury.
            </p>
          </div>
        </div>
        <div
          class="slide-exercise"
          style="
            background-image: url('https://i.pinimg.com/564x/eb/87/2c/eb872c4de96f54f12cc2ebeec0fb2ebe.jpg');
          "
        >
          <div class="text-image">
            <h1>Exercise</h1>
            <p>
              Weight-bearing exercises can increase muscle mass and bone density,
              reducing the risk of osteoporosis.
            </p>
          </div>
        </div>
        <div
          class="slide-exercise"
          style="
            background-image: url('https://i.pinimg.com/564x/2e/4d/61/2e4d6110d386810679e29bcd295edade.jpg');
          "
        >
          <div class="text-image">
            <h1>Exercise</h1>
            <p>
              Regular exercise strengthens your heart and circulatory system,
              reducing the risk of heart disease and high blood pressure.
            </p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'food' %}">
      <div class="Food">
        <div
          class="slide-food"
          style="
            background-image: url('https://i.pinimg.com/564x/73/35/34/73353454e5844ea81ce617517931f1c4.jpg');
          "
        >
          <div class="text-image">
            <h1>Food Healthy</h1>
            <p>
              A healthy diet can help you maintain a healthy weight and reduce the
              risk of obesity.
            </p>
          </div>
        </div>
        <div
          class="slide-food"
          style="
            background-image: url('https://i.pinimg.com/564x/74/4f/12/744f122a7cfc819a208d017b1b740ed4.jpg');
          "
        >
          <div class="text-image">
            <h1>Food Healthy</h1>
            <p>
              Eating a diet rich in fruits, vegetables, whole grains can lower
              your risk of developing chronic diseases such as heart disease.
            </p>
          </div>
        </div>
        <div
          class="slide-food"
          style="
            background-image: url('https://i.pinimg.com/564x/b2/32/0b/b2320b6afc973f8decc0fba027dc731b.jpg');
          "
        >
          <div class="text-image">
            <h1>Food Healthy</h1>
            <p>High-fiber foods can promote regular bowel movements.</p>
          </div>
        </div>
        <div
          class="slide-food"
          style="
            background-image: url('https://i.pinimg.com/564x/16/0d/33/160d33e33e636e7246108dda57f94a24.jpg');
          "
        >
          <div class="text-image">
            <h1>Food Healthy</h1>
            <p>Making your body more resilient to infections and illnesses.</p>
          </div>
        </div>
        <div
          class="slide-food"
          style="
            background-image: url('https://i.pinimg.com/564x/ca/be/0f/cabe0f11508262c8c4f24af2f2110d53.jpg');
          "
        >
          <div class="text-image">
            <h1>Food Healthy</h1>
            <p>
              A diet low in sugary and acidic foods can help prevent dental
              cavities and gum disease.
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="Calories">
    <div class="Calories-item">
      {% if calories %}
      <h1>{{calories.calories}} Calories</h1>
      <h1>Body: {{calories.body_condition}} </h1>
      {% else %}
      <h2>Calories</h2>
      <p>
        You can usually find calorie counts listed on food items, and wearables
        like the best fitness trackers allow you monitor how many calories you're
        burning by doing different activities
      </p>
      {% endif%}
      <a href="{% url 'add-calories' %}">
        <button type="submit" class="button-calculator" role="button">
          Calories
        </button>
      </a>
  </div>
  </div>
 {% else %}
<div class="content-login">
  <h1>Login</h1>
  <br />
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <button type="submit" class="btn btn-warning">Login</button>
  </form>
</div>
{% endif %}
<style>
  .content-login {
    width: 40%;
    padding: 0;
    margin-left: 30%;
    display: block;
  }

  .Calories {
    width: 50%;
    height: 99.5%;
    margin-top: 0px;
    float: right;
  }
  .Calories .Calories-item {
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-top: 20%;
  }
  .Calories .Calories-item h2 {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  .Calories-item .button-calculator {
    appearance: none;
    background-color: #f5ba64;
    border: 2px solid #f5ba64;
    border-radius: 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    font-family: cursive;
    margin-right: 0;
    min-height: 60px;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    will-change: transform;
  }
  .button-calculator:disabled {
    pointer-events: none;
  }

  .button-calculator:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 15px;
    transform: translateY(-5px);
  }
  .button-calculator:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .Healthy {
    width: 50%;
    height: 100%;
    float: right;
    display: block;
  }
  .Healthy .Exercise {
    width: 45%;
    height: 90%;
    margin-top: 2%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    float: left;
  }
  .slide-exercise {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-exercise img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
  }
  .slide-exercise:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .slide-exercise .text-image {
    position: absolute;
    left: 50%;
    top: 70%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .slide-exercise h1 {
    font-size: 30px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
  }
  .slide-exercise p {
    font-size: 15px;
    margin: 0;
    color: #f5ba64;
    opacity: 0;
    -webkit-text-stroke: 1px #f5ba64;
    text-stroke: 1px #f5ba64;
  }
  .slide-exercise h1 {
    animation: fadeInLeft 0.5s ease forwards;
  }
  .slide-exercise p {
    animation: fadeInRight 0.5s ease forwards;
  }
  .Exercise:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.5) 0 15px 20px;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .Food {
    width: 45%;
    height: 90%;
    margin-top: 2%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    margin-left: 5%;
    float: left;
  }
  .Food:hover {
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.5) 0 15px 20px;
  }
  .slide-food {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slide-food img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
  }
  .slide-food:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .slide-food .text-image {
    position: absolute;
    left: 50%;
    top: 70%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .slide-food h1 {
    font-size: 30px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
  }
  .slide-food p {
    font-size: 15px;
    margin: 0;
    color: #c1f66a;
    opacity: 0;
    -webkit-text-stroke: 1px #c1f66a;
    text-stroke: 1px #c1f66a;
  }
  .slide-food h1 {
    animation: fadeInLeft 0.5s ease forwards;
  }
  .slide-food p {
    animation: fadeInRight 0.5s ease forwards;
  }
</style>
{% endblock %}
<script>
  // JavaScript for automatic slide change
  let currentIndex1 = 0;
  const slides1 = document.querySelectorAll(".slide-exercise");
  function showSlide1(index) {
    slides1.forEach((slide, i) => {
      slide.style.display = i === index ? "block" : "none";
    });
  }
  function nextSlide1() {
    currentIndex1 = (currentIndex1 + 1) % slides1.length;
    showSlide1(currentIndex1);
  }
  setInterval(nextSlide1, 3000);
  showSlide1(currentIndex1);
  let currentIndex2 = 0;
  const slides2 = document.querySelectorAll(".slide-food");
  function showSlide2(index) {
    slides2.forEach((slide, i) => {
      slide.style.display = i === index ? "block" : "none";
    });
  }
  function nextSlide2() {
    currentIndex2 = (currentIndex2 + 1) % slides2.length;
    showSlide2(currentIndex2);
  }
  setInterval(nextSlide2, 3000);
  showSlide2(currentIndex2);
</script>