{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'base.css' %}" type="text/css" rel="stylesheet">
<form method="post" action="/home/" class="form-group">
<div class="content">
    <div class="Healthy">
        <a href="/exercise">
            <div class="Exercise">
                <div class="slide-exercise" style="background-image: url('https://i.pinimg.com/564x/a6/fd/10/a6fd10646a09a8a78b108adaf49de5f1.jpg')">
                    <div class="text-image">
                        <h1>Exercise</h1>
                        <p>Exercise helps you burn calories and maintain a healthy weight, reducing the risk of obesity.</p>
                    </div>
                </div>
                <div class="slide-exercise" style="background-image: url('https://i.pinimg.com/564x/d9/34/ce/d934ceed59312e0de77890a60316c518.jpg')">
                    <div class="text-image">
                        <h1>Exercise</h1>
                        <p>Exercise releases endorphins, which can help alleviate stress and improve your mood.</p>
                    </div>
                </div>
                <div class="slide-exercise" style="background-image: url('https://i.pinimg.com/564x/8b/5b/09/8b5b096421b550d97dfc80dc722ee8e8.jpg');">
                    <div class="text-image">
                        <h1>Exercise</h1>
                        <p>Activities like yoga and stretching can improve flexibility and balance, reducing the risk of injury.</p>
                    </div>
                </div>
                <div class="slide-exercise" style="background-image: url('https://i.pinimg.com/564x/eb/87/2c/eb872c4de96f54f12cc2ebeec0fb2ebe.jpg');">
                    <div class="text-image">
                        <h1>Exercise</h1>
                        <p>Weight-bearing exercises can increase muscle mass and bone density, reducing the risk of osteoporosis.</p>
                    </div>
                </div>
                <div class="slide-exercise"  style="background-image: url('https://i.pinimg.com/564x/2e/4d/61/2e4d6110d386810679e29bcd295edade.jpg');">
                    <div class="text-image">
                        <h1>Exercise</h1>
                        <p>Regular exercise strengthens your heart and circulatory system, reducing the risk of heart disease and high blood pressure.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/food">
            <div class="Food">
                <div class="slide-food" style="background-image: url('https://i.pinimg.com/564x/73/35/34/73353454e5844ea81ce617517931f1c4.jpg')">
                    <div class="text-image">
                        <h1>Food Healthy</h1>
                        <p>A healthy diet can help you maintain a healthy weight and reduce the risk of obesity.</p>
                    </div>
                </div>
                <div class="slide-food" style="background-image: url('https://i.pinimg.com/564x/74/4f/12/744f122a7cfc819a208d017b1b740ed4.jpg');">
                    <div class="text-image">
                        <h1>Food Healthy</h1>
                        <p>Eating a diet rich in fruits, vegetables, whole grains can lower your risk of developing chronic diseases such as heart disease.</p>
                    </div>
                </div>
                <div class="slide-food" style="background-image: url('https://i.pinimg.com/564x/b2/32/0b/b2320b6afc973f8decc0fba027dc731b.jpg');">
                    <div class="text-image">
                        <h1>Food Healthy</h1>
                        <p>High-fiber foods can promote regular bowel movements.</p>
                    </div>
                </div>
                <div class="slide-food" style="background-image: url('https://i.pinimg.com/564x/16/0d/33/160d33e33e636e7246108dda57f94a24.jpg');">
                    <div class="text-image">
                        <h1>Food Healthy</h1>
                        <p>Making your body more resilient to infections and illnesses.</p>
                    </div>
                </div>
                <div class="slide-food" style="background-image: url('https://i.pinimg.com/564x/ca/be/0f/cabe0f11508262c8c4f24af2f2110d53.jpg');">
                    <div class="text-image">
                        <h1>Food Healthy</h1>
                        <p>A diet low in sugary and acidic foods can help prevent dental cavities and gum disease.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="Calories">
        <div class="Calories-item">
            <h2>Calories</h2>
            <p>You can usually find calorie counts listed on food items,
            and wearables like the best fitness trackers allow you monitor 
            how many calories you're burning by doing different activities
            </p>
            <a href="/calories">
                <button class="button-calculator" role="button">Calories</button>
            </a>
        </div>
    </div>
</div>
<script>
    // JavaScript for automatic slide change
    let currentIndex1 = 0;
    const slides1 = document.querySelectorAll('.slide-exercise');
    function showSlide1(index) {
      slides1.forEach((slide, i) => {
        slide.style.display = i === index ? 'block' : 'none';
      });
    }
    function nextSlide1() {
      currentIndex1 = (currentIndex1 + 1) % slides1.length;
      showSlide1(currentIndex1);
    }
    setInterval(nextSlide1, 3000);
    showSlide1(currentIndex1);
    let currentIndex2 = 0;
    const slides2 = document.querySelectorAll('.slide-food');
    function showSlide2(index) {
      slides2.forEach((slide, i) => {
        slide.style.display = i === index ? 'block' : 'none';
      });
    }
    function nextSlide2() {
      currentIndex2 = (currentIndex2 + 1) % slides2.length;
      showSlide2(currentIndex2);
    }
    setInterval(nextSlide2, 3000);
    showSlide2(currentIndex2);
  </script>
</form>
{% endblock %}